page-register {
    ion-title{
        text-align: center;
    }
    .title{
        text-align: center;
        font-size:8vw;
        font-weight:lighter;
        padding-top:3vw;
    }
    .Head {
        font-size: 5vw;
        color: #202020;
    }
    .Head2 {
        font-size: 5vw;
        color: gray;
    }
    .Link {
        font-size: 5vw;
        color: #1e99d0;
    }
}
